@import '~@fullcalendar/common/main.css';

.large-calendar-wrapper {
  .select-box {

  }

  .fc-toolbar-title {
    width: 130px !important;
  }

  .fc-toolbar-chunk {
    display: flex;
  }

  .fc-prev-button {
    background: transparent !important;
    border: transparent !important;
    &:focus {
      outline: 0 none !important;
      box-shadow: none !important;
    }
  }

  .fc-next-button {
    background: transparent !important;
    border: transparent !important;
    &:focus {
      outline: 0 none !important;
      box-shadow: none !important;
    }
  }

  .fc-icon-chevron-left {
    color: rgb(154, 154, 154);
  }

  .fc-icon-chevron-right {
    color: rgb(154, 154, 154);
  }

  .fc-next-button {
    background: transparent !important;
    border: transparent !important;
  }

  .fc-toolbar-title {
    font-size: 24px !important;
    color: #333333 !important;
    line-height: 40px;
  }

  .fc-col-header-cell {
    height: 40px !important;
    background: #A2A9B3 !important;
  }

  .fc-col-header-cell-cushion {
    font-size: 18px;
    height: 40px !important;
    font-weight: 400;
    color: #FCFCFC;
    padding: 6px 4px !important;
  }

  .fc-today-button {
    width: 80px !important;
    height: 40px !important;
    background: #ECF5FF !important;
    border: 1px solid #B3D8FF !important;
    border-radius: 6px !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    color: #409EFF !important;
  }

  .fc-refresh-button {
    height: 40px !important;
    background: #ECF5FF !important;
    border: 1px solid #B3D8FF !important;
    border-radius: 6px !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    color: #409EFF !important;
  }

  .fc-switch-button {
    width: 100px !important;
    height: 40px !important;
    background: #ECF5FF !important;
    border: 1px solid #B3D8FF !important;
    border-radius: 6px !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    color: #409EFF !important;
  }

  .fc-daygrid-day {
    min-height: 105px;
    min-width: 144px;
  }
  .fc-daygrid-day-frame:hover:before {
    border: 2px solid #4091F7;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .fc-day-today {
    background: transparent !important;
    .fc-daygrid-day-frame {
      .fc-daygrid-day-top {
        .fc-daygrid-day-number:after {
          content: '今日';
          color: white !important;
          font-size: 12px;
          font-weight: 600;
          line-height: 16px;
          width: 32px;
          height: 18px;
          background: #4091F7;
          border-radius: 1px;
          position: absolute;
          top: 8px;
          margin-left: 2px;
        }
      }
    }
  }
  .empty-data-item {
    margin: auto auto auto 12px !important;
    font-size: 18px !important;
    height: 60px !important;
    width: 100% !important;
    text-align: left;
    line-height: 60px !important;
  }

  .fc-daygrid-day-events {
    margin-top: 0 !important;
  }

  .fc-event-title {
    padding-top: 0 !important;
    overflow: unset !important;
  }

  .fc-updateTime-button {
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #999999 !important;
    background: transparent !important;
    border: transparent !important;
  }

  .day-grid-item {
    height: 30px;
    padding-left: 10px;
    padding-right: 5px;
    text-align: left;
    line-height: 30px;
    margin-left: 15px !important;
    margin-right: 15px !important;
    font-size: 18px;
    font-weight: 400;
    border-radius: 0 !important;
  }

  .available-quantity-item {
    margin-top: 0px !important;
    margin-bottom: 4px !important;
  }
  .stock-item-sold-out {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 0px !important;
    padding-top: 10px;
  }
  .stock-item {
    margin-top: 6px;
    margin-left: 46px !important;
    margin-right: 12px !important;
  }
  .stock-item:before {
    content: '余票';
    font-size: 14px;
    font-weight: 400;
    color: #4091F7;
    line-height: 20px;
    float: left;
    position: absolute;
    bottom: 3px;
    left: -34px;
  }
  .price-item {
    margin-top: 6px;
    margin-left: 46px !important;
    margin-right: 12px !important;
  }
  .price-item:before {
    content: '票价';
    font-size: 14px;
    font-weight: 400;
    color: #4091F7;
    line-height: 20px;
    float: left;
    position: absolute;
    bottom: 3px;
    left: -34px;
  }
  .sold-out-item:before {
    color: #CCCCCC !important;
  }

  .fc-daygrid-day-number {
    margin: 9px auto 4px 12px;
    line-height: 33px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #304156;
    padding: 0 !important;
    width: auto;
    height: 33px;
  }
  .lunar-date-normal {
    .fc-event-title {
      text-align: right;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      right: 12px;
      bottom: 10px;
      color: #9B9B9B;
      float: right;
      position: absolute;
    }
  }
  .lunar-date-soldout {
    .fc-event-title {
      text-align: right;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      right: 12px;
      bottom: 10px;
      color: #9B9B9B;
      float: right;
      position: absolute;
    }
  }

}
